<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".common.daggerapp.HiltApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAGApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".speechtotext.SpeechToTextActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_speech_to_text"
            android:theme="@style/Theme.SAGApp.Fullscreen" />
        <activity
            android:name=".alarm.ui.AlarmActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screensActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.ui.activities.SetupActivity"
            android:exported="false"
            android:theme="@style/Theme.SAGApp.NoActionBar"></activity>
        <activity
            android:name=".ble.ui.BluetoothActivity"
            android:exported="false"
            android:theme="@style/Theme.SAGApp.NoActionBar" />
        <activity
            android:name=".welcome.ui.activities.SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_bluetooth"
            android:theme="@style/Theme.SAGApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".alarm.data.AlarmReceiver" />
    </application>

</manifest>